stage
result
cairo-1.10.0
expat-2.0.1
fontconfig-2.8.0
freetype-2.4.3
gettext-0.18.1.1
glib-2.26.0
libiconv-1.13.1
libiconv-1.13.1
libpng-1.4.4
libxml2-2.7.7
pango-1.28.3
pixman-0.19.6
pkg-config-0.25
pkg-config-0.25
poppler-0.14.4
rrdtool-1.4.4
.*.swp
